body {

     background-image: url('src/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .landing-form{
    height: 80vh;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container{
    width: 100vw;
    background-color: #ffffff30;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
  h1 {
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 1rem;
    text-shadow: 0 0 3px white;
  }
  h4 {
    color: #f1f1f1;
    font-family: arial;
    font-weight: 300;
    font-size: 16px;
  }
  .button {
    display: block;
    margin: 20px 0 0;
    padding: 10px 30px;
    background: #222;
    color: white;
    font-family: arial;
    font-size: 20px;
    letter-spacing: 5px;
    border-radius: .4rem;
    text-decoration: none;
    align-content: center;
   
  }
  .button:hover{
    background-color: #3c3a3a;
}
  .nointernet{
    width:10vw;
  }
  .nointernet img{
    width:100%;
    
  }

  @media(max-width:600px){

    .nointernet{
        width:20vw;
      }
  }